body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:200px;
    text-align:center;
}

#board {
    width:188px;
    height:188px;
    background-color:whitesmoke;
    border:2px solid #B9B9B9;

    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.tile {
    width:43px;
    height:43px;
    border:2px solid #B9B9B9;

    display:flex;

    font-size:12px;
    font-weight:bold;
    justify-content:center;
    align-items:center;
}

.t1 {
    background-color:rgb(204 192 179)
}
.t2 {
    background-color:rgb(238 228 218)
}
.t4 {
    background-color:rgb(237 224 200)
}
.t8 {
    background-color:rgb(242 177 121)
}
.t16 {
    background-color:rgb(245 149 99)
}
.t32 {
    background-color:rgb(246 124 95)
}
.t64 {
    background-color:rgb(246 94 59)
}
.t128 {
    background-color:rgb(237 207 114)
}
.t256 {
    background-color:rgb(237 204 97)
}
.t512 {
    background-color:rgb(237 200 80)
}
.t1024 {
    background-color:rgb(237 197 63)
}
.t2048 {
    background-color:rgb(237 194 46)
}
.t4096 {
    background-color:black
}